{% extends "base.html" %}
{% load staticfiles %}
 
{% block content %}
<div id="bodyContent">



<section class="margin-top">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="#">Search results</a></li>
        <li class="dropdown right">
            <a data-toggle="dropdown" href="#"><span class="text-warning"> sort by: <strong>Match keyword</strong><span class="caret"></span></span> </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="?kwd=&amp;sortBy=match">Match keyword</a></li>
                <li><a href="?kwd=&amp;sortBy=rank">IMDB Rate</a></li>
                <li><a href="?kwd=&amp;sortBy=release">Release Date</a></li>
                <li><a href="?kwd=&amp;sortBy=updated">Updated</a></li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <div class="row">
        <div class="col-lg-17 col-md-16 col-sm-17">

    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="The Flash" src="/img/poster/2014/11/13/the-flash-2014.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/the-flash-2014-subtitles" title="The Flash  - (2016) Subtitles">The Flash  - (2016)</a></h3>
                <p class="text-justify">Barry Allen wakes up 9 months after he was struck by lightning and discovers that the bolt gave him the power of super speed. With his new team and powers, Barry becomes "The Flash" and fights crime in Central City.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>05/13/2016 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt3107288">8.2</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/action-subtitles">Action</a>, <a href="/gender/drama-subtitles">Drama</a>, <a href="/gender/adventure-subtitles">Adventure</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">4149</strong></p>
                            <p class="small">Time: <strong>43 min</strong></p>
                            <p class="small">Updated: <strong>4 minutes ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/the-flash-2014/malay/1321494">Malay Web </a> <i>(4 minutes ago)</i></p>
                                <p class="small"><a href="/the-flash-2014/indonesian/1321493">Indonesian Web </a> <i>(4 minutes ago)</i></p>
                                <p class="small"><a href="/the-flash-2014/malay/1321484">Malay Web </a> <i>(32 minutes ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
        <div class="movie-list-info">
            <div class="row">
                <div class="col-lg-24 text-center center-block">
<!-- Composite Start -->
<div id="M187070ScriptRootC66152">
    <div id="M187070PreloadC66152">
        Loading...
    </div>
    <script id="facebook-jssdk" src="//connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v2.3&amp;appId=953697311317492"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M187070ScriptRootC66152")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M187070ScriptRootC66152");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=66152;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/i/s/isubtitles.net.66152.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script><iframe style="display: none;"></iframe>
</div>
<!-- Composite End -->                </div>
            </div>
        </div>
        <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="The Simpsons" src="/img/poster/2003/11/12/the-simpsons.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/the-simpsons-subtitles" title="The Simpsons  - (2006) Subtitles">The Simpsons  - (2006)</a></h3>
                <p class="text-justify">The satiric adventures of a working-class family in the misfit city of Springfield.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>05/14/2006 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt96697">8.8</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/comedy-subtitles">Comedy</a>, <a href="/gender/animation-subtitles">Animation</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">2313</strong></p>
                            <p class="small">Time: <strong>22 min</strong></p>
                            <p class="small">Updated: <strong>15 minutes ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/the-simpsons/indonesian/1321488">Indonesian Web </a> <i>(15 minutes ago)</i></p>
                                <p class="small"><a href="/the-simpsons/arabic/1321275">Arabic Web </a> <i>(9 hours ago)</i></p>
                                <p class="small"><a href="/the-simpsons/english/1320354">English Web </a> <i>(2 days ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="The Shawshank Redemption" src="/img/poster/1994/10/14/the-shawshank-redemption.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/the-shawshank-redemption-subtitles" title="The Shawshank Redemption  - (1994) Subtitles">The Shawshank Redemption  - (1994)</a></h3>
                <p class="text-justify">Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>10/14/1994 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt111161">9.3</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/crime-subtitles">Crime</a>, <a href="/gender/drama-subtitles">Drama</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">319</strong></p>
                            <p class="small">Time: <strong>142 min</strong></p>
                            <p class="small">Updated: <strong>39 minutes ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/the-shawshank-redemption/arabic/1321481">Arabic Blu-ray </a> <i>(39 minutes ago)</i></p>
                                <p class="small"><a href="/the-shawshank-redemption/french/1298784">French Not rated </a> <i>(8 months ago)</i></p>
                                <p class="small"><a href="/the-shawshank-redemption/english/1285117">English Not rated </a> <i>(2 months ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="Homeland" src="/img/poster/2012/1/2/homeland.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/homeland-subtitles" title="Homeland  - (2011) Subtitles">Homeland  - (2011)</a></h3>
                <p class="text-justify">A bipolar CIA operative becomes convinced a prisoner of war has been turned by al-Qaeda and is planning to carry out a terrorist attack on American soil.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>12/20/2011 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt1796960">8.4</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/drama-subtitles">Drama</a>, <a href="/gender/mystery-subtitles">Mystery</a>, <a href="/gender/thriller-subtitles">Thriller</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">2081</strong></p>
                            <p class="small">Time: <strong>55 min</strong></p>
                            <p class="small">Updated: <strong>an hour ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/homeland/arabic/1321467">Arabic Web </a> <i>(an hour ago)</i></p>
                                <p class="small"><a href="/homeland/english/1321051">English N/A </a> <i>(20 hours ago)</i></p>
                                <p class="small"><a href="/homeland/farsi-persian/1297645">Farsi/Persian Not rated </a> <i>(one month ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="Mission: Impossible - Fallout&nbsp;(2018)" src="/img/poster/2018/2/6/mission-impossible-fallout-2018.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/mission-impossible-fallout-2018-subtitles" title="Mission: Impossible - Fallout&nbsp;(2018)  - (2018) Subtitles">Mission: Impossible - Fallout&nbsp;(2018)  - (2018)</a></h3>
                <p class="text-justify">Ethan Hunt and his IMF team, along with some familiar allies, race against time after a mission gone wrong.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>07/27/2018 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt4912910"></a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/action-subtitles">Action</a>, <a href="/gender/adventure-subtitles">Adventure</a>, <a href="/gender/thriller-subtitles">Thriller</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">226</strong></p>
                            <p class="small">Time: <strong> min</strong></p>
                            <p class="small">Updated: <strong>1 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/mission-impossible-fallout-2018/english/1321447">English Blu-ray </a> <i>(1 hours ago)</i></p>
                                <p class="small"><a href="/mission-impossible-fallout-2018/arabic/1321156">Arabic N/A </a> <i>(16 hours ago)</i></p>
                                <p class="small"><a href="/mission-impossible-fallout-2018/french/1320676">French Blu-ray </a> <i>(yesterday)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="The Walking Dead" src="/img/poster/2011/8/7/the-walking-dead.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/the-walking-dead-subtitles" title="The Walking Dead  - (2010) Subtitles">The Walking Dead  - (2010)</a></h3>
                <p class="text-justify">Sheriff Deputy Rick Grimes leads a group of survivors in a world overrun by the walking dead. Fighting the dead, fearing the living.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>10/23/2010 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt1520211">8.6</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/sci-fi-subtitles">Sci-Fi</a>, <a href="/gender/drama-subtitles">Drama</a>, <a href="/gender/horror-subtitles">Horror</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">7654</strong></p>
                            <p class="small">Time: <strong>44 min</strong></p>
                            <p class="small">Updated: <strong>2 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/the-walking-dead/swedish/1321442">Swedish TV </a> <i>(2 hours ago)</i></p>
                                <p class="small"><a href="/the-walking-dead/indonesian/1321300">Indonesian N/A </a> <i>(7 hours ago)</i></p>
                                <p class="small"><a href="/the-walking-dead/vietnamese/1320996">Vietnamese N/A </a> <i>(23 hours ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="Z Nation" src="/img/poster/2014/9/24/z-nation.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/z-nation-subtitles" title="Z Nation  - (2014) Subtitles">Z Nation  - (2014)</a></h3>
                <p class="text-justify">Three years after the zombie virus has gutted the United States of America a team of everyday heroes must transport the only known survivor of the plague from New York to California, where the last functioning viral lab waits for his blood.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>09/20/2014 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt3843168">6.6</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/action-subtitles">Action</a>, <a href="/gender/drama-subtitles">Drama</a>, <a href="/gender/horror-subtitles">Horror</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">993</strong></p>
                            <p class="small">Time: <strong>44 min</strong></p>
                            <p class="small">Updated: <strong>2 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/z-nation/indonesian/1321438">Indonesian N/A </a> <i>(2 hours ago)</i></p>
                                <p class="small"><a href="/z-nation/farsi-persian/1320672">Farsi/Persian N/A </a> <i>(yesterday)</i></p>
                                <p class="small"><a href="/z-nation/farsi-persian/1320617">Farsi/Persian Web </a> <i>(yesterday)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="Black Lightning&nbsp;" src="/img/poster/2017/12/11/black-lightning.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/black-lightning-subtitles" title="Black Lightning&nbsp;  Subtitles">Black Lightning&nbsp; </a></h3>
                <p class="text-justify">A retired superhero becomes a vigilante for justice.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>N/A </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt6045840"></a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/action-subtitles">Action</a>, <a href="/gender/sci-fi-subtitles">Sci-Fi</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">304</strong></p>
                            <p class="small">Time: <strong> min</strong></p>
                            <p class="small">Updated: <strong>2 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/black-lightning/english/1321312">English TV </a> <i>(6 hours ago)</i></p>
                                <p class="small"><a href="/black-lightning/english/1321311">English TV </a> <i>(6 hours ago)</i></p>
                                <p class="small"><a href="/black-lightning/farsi-persian/1321435">Farsi/Persian N/A </a> <i>(2 hours ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="The Truman Show" src="/img/poster/1998/6/5/the-truman-show.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/the-truman-show-subtitles" title="The Truman Show  - (1998) Subtitles">The Truman Show  - (1998)</a></h3>
                <p class="text-justify">An insurance salesman/adjuster discovers his entire life is actually a T.V. show.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>06/05/1998 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt120382">8.1</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/drama-subtitles">Drama</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">100</strong></p>
                            <p class="small">Time: <strong>103 min</strong></p>
                            <p class="small">Updated: <strong>2 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/the-truman-show/vietnamese/1321433">Vietnamese Blu-ray </a> <i>(2 hours ago)</i></p>
                                <p class="small"><a href="/the-truman-show/indonesian/1321058">Indonesian Web </a> <i>(20 hours ago)</i></p>
                                <p class="small"><a href="/the-truman-show/malayalam/1292732">Malayalam Not rated </a> <i>(2 months ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="movie-list-info">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
                    <img alt="Columbus Circle" src="/img/poster/2012/3/6/columbus-circle.jpg;widh=200;height=300;crop=auto;format=webp" class="img-responsive center-block">
            </div>
            <div class="col-lg-18 col-md-16 col-sm-18">
                <h3><a href="/columbus-circle-subtitles" title="Columbus Circle  - (2012) Subtitles">Columbus Circle  - (2012)</a></h3>
                <p class="text-justify">An heiress who's been shut inside her apartment building for nearly two decades is forced to confront her fears after one of her neighbors is killed and a detective arrives to begin the investigation.</p>
                <div class="well well-sm">
                    <div class="row">
                        <p class="col-sm-12">Release: <strong>03/06/2012 </strong></p>
                        <p class="col-sm-12">IMDB: <span class="badge"><a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt1465533">6</a></span></p>
                    </div>
                    <div class="row">
                            <p class="col-sm-12">Genders: <a href="/gender/crime-subtitles">Crime</a>, <a href="/gender/drama-subtitles">Drama</a>, <a href="/gender/mystery-subtitles">Mystery</a></p>

                            <p class="col-sm-12">Countries: <a href="/country/usa-subtitles">USA</a></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="small"><span>Subtitles:</span> <strong class="text-info">65</strong></p>
                            <p class="small">Time: <strong>82 min</strong></p>
                            <p class="small">Updated: <strong>3 hours ago</strong></p>

                        </div>

                        <div class="col-sm-12">
                                <p class="small"><a href="/columbus-circle/korean/1321389">Korean N/A </a> <i>(3 hours ago)</i></p>
                                <p class="small"><a href="/columbus-circle/thai/1004046">Thai Blu-ray </a> <i>(one year ago)</i></p>
                                <p class="small"><a href="/columbus-circle/french/721003">French Blu-ray </a> <i>(3 years ago)</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


			<div style="margin-bottom:20px;display:inline-block;">
                <div class="pageing-container"><div class="paging"><a href="javascript:;" class="current">1</a><a href="/country/usa-subtitles?p=2">2</a><a href="/country/usa-subtitles?p=3">3</a><a href="/country/usa-subtitles?p=4">4</a><span>...</span><a href="/country/usa-subtitles?p=2">Next</a><a href="/country/usa-subtitles?p=892">Last »</a></div></div>
            </div>
        </div>

        <div class="col-lg-7 col-md-8 col-sm-7">
            <div class="row">

                <div class="col-lg-24 text-center center-block">
<!-- Composite Start -->
<div id="M187070ScriptRootC66147">
    <div id="M187070PreloadC66147"> Loading...
    </div>
    <script> (function(){ var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById'; var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M187070ScriptRootC66147")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];} catch(e){var iw=d;var c=d[gi]("M187070ScriptRootC66147");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=66147;c[ac](dv); var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/i/s/isubtitles.net.66147.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script><iframe style="display: none;"></iframe>
</div>
<!-- Composite End -->                </div>

                <div class="col-lg-24">
                    <ul class="list-group">
    <li class="list-group-item active"><h4>November 2018 Movie Releases</h4></li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/the-favourite-2018-subtitles" title="The Favourite&nbsp;(2018)  - (2018) Subtitles">The Favourite&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/23/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/robin-hood-2018-subtitles" title="Robin Hood&nbsp;(2018)  - (2018) Subtitles">Robin Hood&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/21/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/creed-ii-2018-subtitles" title="Creed II&nbsp;(2018)  - (2018) Subtitles">Creed II&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/21/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/ralph-breaks-the-internet-wreck-it-ralph-2-2018-subtitles" title="Ralph Breaks the Internet: Wreck-It Ralph 2&nbsp;(2018)  - (2018) Subtitles">Ralph Breaks the Internet: Wreck-It Ralph 2&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/21/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/widows-2018-subtitles" title="Widows&nbsp;(2018)  - (2018) Subtitles">Widows&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/16/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/the-grinch-2018-subtitles" title="The Grinch&nbsp;(2018)  - (2018) Subtitles">The Grinch&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/09/2018</p>
        </li>
        <li class="list-group-item">
            <p>
                <strong>
                    <a href="/the-nutcracker-and-the-four-realms-2018-subtitles" title="The Nutcracker and the Four Realms&nbsp;(2018)  - (2018) Subtitles">The Nutcracker and the Four Realms&nbsp;(2018)  - (2018)</a>
                </strong>
                <span class="badge">N/A </span>
            </p>
            <p>11/02/2018</p>
        </li>
</ul>
                </div>


                <div class="col-lg-24 text-center center-block">



                </div>


            </div>
        </div>
    </div>
</section>
        </div>
{% endblock %}